<a href="https://colab.research.google.com/github/Julianxillo/Datasciencice300/blob/main/ejercicio_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ejercicio 1 : Listas

Tienen la siguiente lista锯金イ猸

```list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]```

Se desea obtener el siguiente output **pero** usando solo el met贸do ```append```:

```[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]```

In [ ]:
lt=[10, 20, [300, 400, [5000, 6000], 500], 30, 40]
lt[2][2].append(7000)
print(lt)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Ejercicio 2 : Sets
Dados los siguientes conjuntos光解

```s1 = {10, 20, 30, 40, 50}```

```s2 = {30, 40, 50, 60, 70}```

1. Como es posible obtener el siguiente output con alguno de los met贸dos vistos para sets

```{40, 50, 30}```

2. Como es posible obtener el siguiente output con alguno de los met贸dos vistos para sets

```{70, 40, 10, 50, 20, 60, 30}```

3. Extraer todos los elementos de s2 que no estan en s1

In [ ]:
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}

a=(s1.intersection(s2))
b=(s1.union(s2))
c=(s2.difference(s1))

print ("1.  La intercepci贸n de s1 y s2 ",a)
print ("2.  La uni贸n de s1 y s2 ",b)
print ("3.  La diferencia de s1 y s2 ",c)

1.  La intercepci贸n de s1 y s2  {40, 50, 30}
2.  La uni贸n de s1 y s2  {70, 40, 10, 50, 20, 60, 30}
3.  La diferencia de s1 y s2  {60, 70}

## Ejercicio 3: Tuplas

Dada la siguiente tupla扳

```tupla=(10, 20, 30, 40, 50)```

Responder:

1. Ordenar la tupla de mayor a menor
2. Extraer los valores de la tupla en las siguientes variables: a,b,c,d,e
3. Ahora suponga que tiene la siguiente tupla: 
```tupla_d = (11, [22, 33], 44, 55)```
Recordando el concepto de inmutabilidad de las tuplas, ser铆a posible poder modificar el valor **22** por **222** o en este caso no se puede?. Justifiquen

In [4]:
tupla=(10,20,30,40,50)
a=(tupla[::-1])
print("1. ordenar una tupla ",a)
a,b,c,d,e=tupla
print("2. extraer datos de la tupla ",a,b,c,d,e)
tupla_d = (11, [22, 33], 44, 55)
tupla_d[1][0] = 222
print("3. modificar el valor de un elemento",tupla_d)

1. ordenar una tupla  (50, 40, 30, 20, 10)
2. extraer datos de la tupla  10 20 30 40 50
3. modificar el valor de un elemento (11, [222, 33], 44, 55)

## Ejercicio 4: Diccionarios

1. Supongan que tienen el siguiente diccionario similar a lo que se obtiene de una API ([texto del enlace](https://www.freecodecamp.org/news/what-is-an-api-in-english-please-b880a3214a82/)) 
```
dict_david = {
    "clase": {
        "estudiante": {
            "nombre": "David",
            "notas": {
                "fisica": 4.9,
                "matematicas": 4.8
            }
        }
    }
}
```

Como se puede obtener el valor respectivo para la llave primaria ```matematicas```モㄢ

2. Con base en el siguiente diccionario, renombrar la llave primaria ciudad por ubicacion ケ♀

```dic_prueba = {
  "nombre": "Juan",
  "edad":25,
  "salario": 8000000,
  "ciudad": "Santiago"
}
```

3. Obtener la llave primaria del valor minimo para el siguiente diccionario 娥У

```
dicc = {
  'Bayesiana': 4.5,
  'Series Tiempo': 4.6,
  'Calculo Actuarial': 4.2
}
```

4. Con base en el siguiente diccionario
```
dict_a = {
    'e1': {'nombre': 'David', 'salario': 12000000},
    'e2': {'nombre': 'Juan', 'salario': 7590000},
    'e3': {'nombre': 'Amir', 'salario': 6787000}
}
```
Reemplazar el valor de 7590000 de Juan por 8000000.

In [6]:
dict_david = {
 "clase": {
     "estudiante": {
         "nombre": "David",
         "notas": {
             "fisica": 4.9,
             "matematicas": 4.8
         }
     }
 }
}
print("1. extraer la nota de matematic谩s ",dict_david['clase']['estudiante']['notas']['matematicas'])

1. extraer la nota de matematic谩s  4.8

In [8]:
dic_prueba = {
  "nombre": "Juan",
  "edad":25,
  "salario": 8000000,
  "ciudad": "Santiago"
}
dic_prueba['ubicacion'] = dic_prueba.pop('ciudad')
print("2. renombrar la llave primaria de ciudad por ubicaci贸n ",dic_prueba)

2. renombrar la llave primaria de ciudad por ubicaci贸n  {'nombre': 'Juan', 'edad': 25, 'salario': 8000000, 'ubicacion': 'Santiago'}

In [10]:

dicc = {
  'Bayesiana': 4.5,
  'Series Tiempo': 4.6,
  'Calculo Actuarial': 4.2
}
print("3. Obterne el valor minimo del diccionario ",min(dicc, key=dicc.get))

3. Obterne el valor minimo del diccionario  Calculo Actuarial

In [11]:
dict_a = {
    'e1': {'nombre': 'David', 'salario': 12000000},
    'e2': {'nombre': 'Juan', 'salario': 7590000},
    'e3': {'nombre': 'Amir', 'salario': 6787000}
}
dict_a['e2']['salario'] = 8000000
print("4. aumentar el sueldo a Juan ",dict_a)

4. aumentar el sueldo a Juan  {'e1': {'nombre': 'David', 'salario': 12000000}, 'e2': {'nombre': 'Juan', 'salario': 8000000}, 'e3': {'nombre': 'Amir', 'salario': 6787000}}